﻿@{
    ViewBag.Title = "Employee List";
}
@*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")*@
@*<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@
<div class="container">
    <div class="row">
        <h3>Employee List</h3>
    </div>
    <div class="row">
        <table id="tblEmployee" class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>

                    <th>
                        Code
                    </th>

                    <th>
                        Name
                    </th>

                    <th>
                        Weekly Effort(Total)
                    </th>

                    <th>
                        Weekly Effort(Average)
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/jquery.dataTables.js"></script>
<script>

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:54576/api/v1/employee/getallEmpStatistics",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(JSON.stringify(data));
                var DIV = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td>" + item.id + "</td>" +
                        "<td>" + item.code + "</td>" +
                        "<td><a href='@Url.Action("TimeSheet", "Home")?id=" + item.id + "'>" + item.name + "</a></td>" +
                        "<td>" + item.totalEffort + "</td>" +
                        "<td>" + item.averageEffort + "</td>" +
                        "</tr>";
                    $('#tblEmployee').append(rows);
                }); //End of foreach Loop
                console.log(data);
                $('#tblEmployee').DataTable({
                    "paging": false,
                    "ordering": false,
                    "searching": false,
                    "bInfo": false
                });
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
            } //End of AJAX error function

        });
    });
</script>


