﻿@{
    ViewBag.Title = "Time Sheet";
}
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.js"></script>
<style>
    .row {
        padding: 5px;
    }
</style>
<div class="container" style="padding:50px;">
    <div class="row">
        <!--<div class="col-lg-6">-->
        <div class="col-lg-3">
            <label>Select Employee </label>
        </div>
        <div class="col-lg-3">
            <select class="form-control" id="ddlEmployees"></select>
        </div>
        <!--</div>-->
        <div class="col-lg-6">
            <div>
                <a href="#" id="btnAddTimeSheet"><img src="~/images/AddImg.png" style="width:40px; height:40px;float:right;" data-toggle="modal" data-target="#exampleModal" title="ADD" alt="ADD"></a>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:40px;">
        <table id="tblTasks" class="table table-striped table-condensed table-bordered" cellspacing="0" width="90%">
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-1" style="float:right;">
            <a href="@Url.Action("Index", "Home")" class="btn btn-error"> Back To List</a>
            @*<input type="button" class="btn btn-error" value="Back To List" />*@
        </div>
        @*<div class="col-lg-1" style="float:right;">
            <input type="button" class="btn btn-success" value="Save" />
        </div>*@
    </div>


</div>
<div id="dialog" style="display:none" title="Add Time Sheet">
    <div class="row">
        <div class="col-lg-5">
            <label> Select Day</label>
        </div>
        <div class="col-lg-5">
            <select class="form-control" id="ddldays">
                <option value="1">Sunday</option>
                <option value="2">Monday</option>
                <option value="3">Tuesday</option>
                <option value="4">Wednesday</option>
                <option value="5">Thursday</option>
                <option value="6">Friday</option>
                <option value="7">Saturday</option>
            </select>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <label> Select Task</label>
        </div>
        <div class="col-lg-5">
            <select class="form-control" id="ddlTask"></select>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <label> Hours Worked</label>
        </div>
        <div class="col-lg-5">
            <select class="form-control" id="ddlHours">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">

        </div>
        <div class="col-lg-5">
            <input type="button" id="btnAddtaskTime" class="btn btn-success" value="add" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
       

        getallEmployees();
        $('#tblTasks').DataTable({
            "paging": false,
            "ordering": false,
            "searching": false,
            "bInfo": false

        });
        $('#ddlEmployees').change(function () {
            $('#tblTasks tbody').html('');
            $('.dataTables_empty').hide();
            var eid = $(this).val();
            getEmployeeTimeSheet(eid);


        });

        $('#btnAddtaskTime').click(function () {
            addTimeTasks();
        })
        $("#btnAddTimeSheet").click(function () {
            getalltasks();
            $("#dialog").dialog({
                width: "50%"
            });
        })
    });


    function getEmployeeTimeSheet(empID) {
        $.ajax({
            type: "GET",
            url: "http://localhost:54576/api/v1/employee/getallEmployeeTaskSheet?EID=" + empID,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                var oldtaskid = 0;
                $.each(data, function (i, item) {
                    if (oldtaskid != item.taskID) {
                        var rows = "<tr id='row_" + item.taskID + "'>" +
                            "<td>" + item.task + "</td>" +
                            "<td><span id='tdSunday'></span></td>" +
                            "<td><span id='tdMonday'></span></td>" +
                            "<td><span id='tdTuesday'></span></td>" +
                            "<td><span id='tdWednesday'></span></td>" +
                            "<td><span id='tdThursday'></span></td>" +
                            "<td><span id='tdFriday'></span></td>" +
                            "<td><span id='tdSaturday'></span></td>" +
                            "</tr>";
                        $('#tblTasks').append(rows);
                    }
                    if (item.day == 1) {
                        $('#tblTasks').find('#row_' + item.taskID).find('#tdSunday').text(item.hours);
                    }
                    if (item.day == 2) {
                        $('#tblTasks').find('#row_' + item.taskID).find('#tdMonday').text(item.hours);
                    }
                    if (item.day == 3) {
                        $('#tblTasks').find('#row_' + item.taskID).find('#tdTuesday').text(item.hours);
                    }
                    if (item.day == 4) {
                        $('#tblTasks').find('#row_' + item.taskID).find('#tdWednesday').text(item.hours);
                    }
                    if (item.day == 5) {
                        $('#tblTasks').find('#row_' + item.taskID).find('#tdThursday').text(item.hours);
                    }
                    if (item.day == 6) {
                        $('#tblTasks').find('#row_' + item.taskID).find('#tdFriday').text(item.hours);
                    }
                    if (item.day == 7) {
                        $('#tblTasks').find('#row_' + item.taskID).find('#tdSaturday').text(item.hours);
                    }
                    oldtaskid = item.taskID
                }); //End of foreach Loop
                console.log(data);

            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //alert(XMLHttpRequest);
                //alert(textStatus);
                //alert(errorThrown);
            } //End of AJAX error function

        });
    }

    function addTimeTasks() {
        var taskId = $('#ddlTask').val();
        var empid = $('#ddlEmployees').val();
        var day = $('#ddldays').val();
        var hour = $('#ddlHours').val();

        var model = {
            EmployeeID: empid,
            Day: day,
            TaskID: taskId,
            HoursWorked: hour
        }

        $.ajax({
            type: "POST",
            url: "http://localhost:54576/api/v1/employee/addtimesheet",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            data: JSON.stringify(model),
            success: function (data) {
                if (data == true) {
                    $('#ddlEmployees').trigger('change');
                    $('#dialog').dialog('close')
                }
                else {

                    alert("failed to add data");
                }

            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText);
                //alert(XMLHttpRequest);
                //alert(textStatus);
                //alert(errorThrown);
            } //End of AJAX error function

        });
    }

    function getallEmployees() {
        $.ajax({
            type: "GET",
            url: "http://localhost:54576/api/v1/employee/getall",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                $.each(data, function (i, item) {
                    var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                    $('#ddlEmployees').append(rows);
                }); //End of foreach Loop
                console.log(data);
                var eid = getUrlParameter('id');
                $('#ddlEmployees').val(eid);
                $('#ddlEmployees').trigger('change');
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //alert(XMLHttpRequest);
                //alert(textStatus);
                //alert(errorThrown);
            } //End of AJAX error function

        });
    }


    function getalltasks() {
        $.ajax({
            type: "GET",
            url: "http://localhost:54576/api/v1/employee/getalltasks",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                $.each(data, function (i, item) {
                    var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                    $('#ddlTask').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //alert(XMLHttpRequest);
                //alert(textStatus);
                //alert(errorThrown);
            } //End of AJAX error function

        });

    }

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

</script>